<%= image_tag("jumbotron.jpg", :alt => "Water Image") %>

<div id="about section" style="margin-top: ">
  <h2>About me</h2>
  <p>I'm just a simple developer trying to learn Rails so I can get a job. Go check out the <%= link_to "Home", root_path %> </p>
</div>