<div class='navbar' style="background-color:lightgray; height:30px; padding:10px; ">
  <p1><span style="font-size: 20px; font-weight: bold;">Alpha-Blog</span></p1>
</div>

<%= image_tag("jumbotron.jpg", :alt => "Water Image") %>

<div id="about section" style="margin-top: ">
  <h2>My Ruby Sample Page</h2>
  <p>This is just a simple sample ruby page. Go check out the <%= link_to "About", about_path %> </p>
  <p><%= link_to "Alpha-Blog Articles", articles_path %>|  </p>
</div>